<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>App</title>
  </head>
  <body>
    {{#each bookmarks}}
      <p>{{name}} - <a href={{url}}>{{url}}</a></p>
      <p>{{description}}</p>
      {{#if tags}}
      <ul>
        {{#each tags}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      {{/if}}
    {{/each}}
  </body>
</html>